@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Red+Hat+Display:wght@300&display=swap');
header *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: white;
}
li, a, button{
    font-family: 'Inter', sans-serif;
    font-weight:bold;
    font-size: 16px;
    text-decoration: none;
}
header{
    position: fixed;
    justify-content: space-between;
    font-weight:500;
    display: flex;
   flex-direction: row;
    align-items: center;
    padding: 20px 0%;
    height: 60px;
    width: 100vw;
    color:#015C86;
    background-color: white;
    z-index: 20;
}

.logo{
    cursor: pointer;  
 
}
.nav_links{
    list-style: none;   
}
nav{

}
.cta{
  
}
.nav_links li{
    display: inline-block;
    padding: 0px 20px;
    
}
.nav_links li a{
    transition:all 0.3s ease 0s;
    color:#015C86;
}
.nav_links li a:hover{
    transition:all 0.3s ease 0s;
    color:#00131b;  
}
.sitename{
   
    justify-self: flex-start;    
    font-size: 32px;
    font-family: 'Inter', sans-serif;
 
}

button{
  
    padding: 9px 25px;
    background-color:#DFB43C;
    border:none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button:hover{
background-color: #a17e1d;
}
img{
    height: 70px;
}
a.active,a:hover{
    color: #000000;
        transition:all .5s linear;
    }

.header-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column-gap: 20px;
    margin-left: 50px;
}
.header-right{
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-column-gap: 20px;
    margin-right: 50px;
}